<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    :root {
      color-scheme: dark;
    }
  </style>

</head>

<body class="m-8 bg-slate-900">

  {{{body}}}
</body>

</html>